.bodyUser{
    margin: 0;
    padding: 0;
    color: #4D4D4D;
}

.usuario{
    height: 100vh;
    display: flex;
    align-items: center;
}

.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorUser{
    width: 80%;
    height: 80%;
    border-radius:50px 50px 50px 50px;
    border: 1px solid #969696;
    margin-top: -8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(114, 124, 179);

}

p{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p:hover{
    background-color: #87A3AA;
    color: aliceblue;
    /* cursor: pointer; */
}

.contra{
    display: none;
}


#delete {
    background-color: transparent;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    border: transparent;
}

#edit {
    background-color: transparent;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    border: transparent;
}

.emergente{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    background-color: white;
    transform: translate(-50%, -60%);
}

.emergente p{
    background-color: pink;
}

.edit, .delete{
width: 30px;
height: 30px;
background-size: cover;

}

.usuarios{
    width: 100%;
    border: 1px solid black;
    border-radius:50px 50px 50px 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}