#mytable *{
    width: 100% !important;
}

@media (max-width:1250px) {
    #myTable{
        font-size: 0.7em !important ;
    }
    
}

@media (max-width:500px) {
    #myTable{
        font-size: 0.5em !important;
    }
}