.contenedorTitulo{
    width: 100%;
  }
  
  .titulo{
    width: fit-content;
    box-shadow:-25px 25px 0px -15px #4723D9;
    font-weight: 800;
  }
  #myTable_wrapper{
    margin-top: 50px;
  }

@media (max-width:1250px) {
    #myTable{
        font-size: 0.7em !important ;
    }
    
}

@media (max-width:500px) {
    #myTable{
        font-size: 0.5em !important;
    }
}