/* .form-control{
  border-radius: 25px;
  height: fit-content;
}

.container-fluid{
  width: 100%;
}

form{
  display: flex;
  align-items: center;
  width: fit-content;
}

p{
  width: fit-content;
  margin: 0;
  padding: 0;
}

.col-9{
  border-radius: 25px;

  
} */


/* @media only screen and (max-width: 767px) {
  .col-9, .col-3, .col-2, .col-12 {
    width: 100%; 
    margin: 0; 
    border-radius: 0; 
    border: none; 
  }
  
  .col-12:first-child {
    margin-bottom: 1.5rem; 
  }
  
  .imagen_foto {
    width: 100%; 
    height: auto; 
  }
} */

/* Css de la tarjeta*/
/* *, *:before, *:after {
  box-sizing: border-box;
}

.datos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center !important;
}

@media only screen and (max-width: 1400px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .drug-card{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 990px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .drug-card{
    display: flex;
    justify-content: center;
  }
}

.row > *{
  padding: 0;
}

.drug-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.imagen_foto {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drug-card__name {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
}

.drug-card__datos {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.one-third {
  float: left;
  padding: 20px 0px;
  background-color: #4723D9;
  color: white;
}

sup {
  position: absolute;
  bottom: 4px; 
  font-size: 45%;
  margin-left: 2px;
}

.dato_num {
  position: relative;
  font-size: 1rem;
  width: 100%;
}

.dato {
  position: relative;
  font-size: .9rem;
  width: 100%;
}

.carta {
  position: relative;
  height: 400px;
  width: 250px;
  margin: 2rem;
  display: inline-block;
  text-align: center;
}

.carta .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: .5s;
}

.carta .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #4723D9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carta .front img {
  position: absolute;
  width: 80%;
  height: 80%;
}

.carta .back {
  transform: perspective(600px) rotateY(180deg);
  background: #4723D9;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.carta.clicked .front {
  transform: perspective(600px) rotateY(180deg);
}

.carta.clicked .back {
  transform: perspective(600px) rotateY(360deg);
}

.contenedor {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.info_parrafo {
  display: flex;
  text-align: start;
  margin-bottom: 2.5rem;
}

.info_botonBorrar {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #FFF;
} */

/* Carta */
.carta {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  background-color: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  /* color: #f8f8f8; */
  
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.carta:hover .card_content {
  transform: translateY(0);
}

.carta:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}

