 .form-control{
  border-radius: 25px;
  height: fit-content;
}

.container-fluid{
  width: 100%;
}

form{
  display: flex;
  align-items: center;
  /* width: fit-content; */
}

p{
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-9{
  border-radius: 25px;
} 

/* Css de la tarjeta*/
*, *:before, *:after {
  box-sizing: border-box;
}

.datos{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center !important;
  row-gap: 4.953125rem;
}

.row > *{
  padding: 0;
}

.drug-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.drug-card__name {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
}

.drug-card__datos {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.one-third {
  float: left;
  padding: 20px 0px;
  background-color: #4723D9;
  color: white;
}

sup {
  position: absolute;
  bottom: 4px; 
  font-size: 45%;
  margin-left: 2px;
}

.dato_num {
  position: relative;
  font-size: 1rem;
  width: 100%;
}

.contenedor {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.info_botonBorrar {
  /* margin-top: 1rem; */
  display: block;
  margin: 1rem auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #FFF;
} 

.pedirCN {
  height: fit-content;
}

.noMedic {
  color: red;
  font-size: .8rem;
}

.nombreMed {
  font-weight: bold;
  font-size: .9rem;
  margin-bottom: 1rem;
}

.medicamento {
  width: 100%;
  max-width: 300px;
  height: fit-content;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 1rem;
}

/* Carta */
.carta {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  background-color: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  height: 200px;
  /* color: #f8f8f8; */
}

.imagen_foto {
  width: 100%;
  height: 100%;
}

.bi {
  background-color: rgba(108, 117, 125, 0.8);
  border-radius: 50%;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  padding: 20px;
  /* background: #000; */
  background-color: rgba(108, 117, 125, 0.8);
  color: #FFFFFF;
  border-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(190px);
  transition: transform .25s;
  overflow-y: scroll;
}

.card_content::-webkit-scrollbar {
  width: 0px; /* cambia el ancho del scrollbar */
}

.card_title {
  color: #FFFFFF;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.carta:hover .card_content {
  transform: translateY(45px);
}

.carta:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}

/* Boton */
button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
 
button, button span {
  transition: 200ms;
}
 
button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}
 
button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
button svg {
  width: 15px;
  fill: #eee;
}
 
button:hover {
  background: #ff3636;
}
 
button:hover .text {
  color: transparent;
}
 
button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(-5px);
}
 
button:focus {
  outline: none;
}
 
button:active .icon svg {
  transform: scale(0.8);
}

.botonverde {
  width: 50px;
  height: 50px;
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.botonverde:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.botonverde:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.botonverde:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#codigoBarra{
  padding: 20px;
  background-image: url('../assets/photo_camera_FILL1_wght400_GRAD0_opsz48.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}

#Escaner{
  max-width: 300px;
  max-height: 300px;
}

#Escaner video{
  width: 100%;
}

.cambiarForma{
  margin: 50px 0;
}

.drawingBuffer {
  display: none;
}

/* Css de los input de busqueda */
.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus, input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}



@media only screen and (max-width: 1400px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .drug-card{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1880px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}

@media only screen and (max-width: 1600px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media only screen and (max-width: 1200px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .drug-card{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .col-9, .col-3, .col-2, .col-12 {
    width: 100%; 
    margin: 0; 
    border-radius: 0; 
    border: none; 
  }
  
  .col-12:first-child {
    margin-bottom: 1.5rem; 
  }
  
  .imagen_foto {
    width: 100%; 
    height: auto; 
  }
}