 .form-control{
  border-radius: 25px;
  height: fit-content;
}

.container-fluid{
  width: 100%;
}

form{
  display: flex;
  align-items: center;
  /* width: fit-content; */
}

.row {
  margin: 0;
}

p{
  width: 100%;
  margin: 0;
  padding: 0;
}

.datos_izquierda{
  border-radius: 25px;
} 

/* Css de la tarjeta*/
*, *:before, *:after {
  box-sizing: border-box;
}

.datos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center !important;
  row-gap: 4.953125rem;
  max-height: 1000px;
  overflow-y: scroll;
}

.datos::-webkit-scrollbar {
  width: 2px; /* cambia el ancho del scrollbar */
  display: flex;
  background-color: #0d0c22;
}

.row > *{
  padding: 0;
}


.contenedor {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.info_botonBorrar {

  display: block;
  margin: 1rem auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #FFF;
} 

.pedirCN {
  height: fit-content;
}

.noMedic {
  color: brown;
  font-size: .8rem;
}
.medicamento button{
  background-color: transparent;
  color: white;
  background-color: brown;
}

.nombreMed {
  font-weight: bold;
  font-size: .9rem;
  margin-bottom: 1rem;
}

.medicamento {
  width: 100%;
  max-width: 300px;
  height: fit-content;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 1rem;
}

/* Carta */
.carta {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  background-color: #ededed;
  overflow: hidden;
  border-radius: 5px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  height: 200px;
}

.imagen_foto {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.bi {
  border-radius: 50%;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  padding: 20px;
  background-color: #4723D9;
  color: #FFFFFF;
  border-radius: 5px;
  transform: translateY(190px);
  transition: transform .25s;
  overflow-y: scroll;
}

.card_content::-webkit-scrollbar {
  width: 0px; 
}

.card_title {
  color: #FFFFFF;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  /* opacity: 0;
  transition: opacity .2s; */
}

.carta:hover .card_content {
  transform: translateY(45px);
}

.carta:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}

/* Boton */
button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
 
button, button span {
  transition: 200ms;
}
 
button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}
 
button .icon {
  position: absolute;
  border-left: 1px solid brown;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
button svg {
  width: 15px;
  fill: #eee;
}
 
button:hover {
  background: brown;
}
 
button:hover .text {
  color: transparent;
}
 
button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(-5px);
}
 
button:focus {
  outline: none;
}
 
button:active .icon svg {
  transform: scale(0.8);
}

.botonverde {
  width: 50px;
  height: 50px;
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.botonverde:hover {
  background-color: #1e8449 !important;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.botonverde:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.botonverde:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  color: white !important;
}

#codigoBarra{
  padding: 20px;
    background-image: url('../assets/photo_camera_FILL1_wght400_GRAD0_opsz48.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F7F6FB;
    border-radius: 8px;
    border-style: none;
    width: 50px;
    height: 50px;
}

#Escaner{
  max-width: 300px;
  max-height: 300px;
}

#Escaner video{
  width: 100%;
}

.cambiarForma{
  margin: 50px 0;
}

.drawingBuffer {
  display: none;
}

/* Css de los input de busqueda */
.input {
  line-height: 28px;
  border: 2px solid transparent;
  padding: .2rem 0.3rem;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid #d4d4d4;
  
}

.input:focus, .input:hover {
  outline: none;
  padding: .2rem 0.5rem;
  border-radius: 1em;
  border-color: #7a9cc6;
}

.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}
.botones{
  width: 100%;
  justify-content: center;
  margin-bottom: 2em;
}

.botones label{
  width: 50px;
  height: 50px;
  padding: 10px;
}
.botonrojo{
  background-color: rgb(211, 66, 64);
  color: white;
  margin-left: 10px;
}
.botonrojo:hover{
  background-color: rgb(180, 57, 55) !important;
  color: white !important;
}

@media only screen and (max-width: 1400px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .drug-card{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1880px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}

@media only screen and (max-width: 1600px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media only screen and (max-width: 1300px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media only screen and (max-width: 950px) {
  .datos_derecha {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
  }
}

@media only screen and (max-width: 900px) {
  .datos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .drug-card{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {

  .datos {
    max-height: 400px;
  }

  .datos_izquierda, .col-3{
    width: 90%; 
    margin: 0; 
    border-radius: 0; 
    border: none; 
  }
  
  .col-12:first-child {
    margin-bottom: 1.5rem; 
  }
  
  .imagen_foto {
    width: 100%; 
    height: auto; 
  }

  form {
    flex-wrap: wrap;
  }
}