.showProv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjeta-proveedor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #DAE2E4;
    transition: 0.3s;
    width: 300px;
    margin: 10px;
}

.tarjeta-proveedor:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tarjeta-proveedor h5 {
    text-align: center;
    margin-top: 20px;
}

.tarjeta-proveedor p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 20px;
}

.tarjeta-proveedor a {
    display: block;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.tarjeta-proveedor a:hover {
    background-color: #3e8e41;
}
  
/* Estilos para pantallas de 992px y más grandes */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .tarjeta-proveedor {
        width: calc(33.33% - 20px);
        margin: 10px;
    }
}

/* Estilos para pantallas de 768px y más grandes */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tarjeta-proveedor {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

/* Estilos para pantallas de 576px y más grandes */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .tarjeta-proveedor {
        width: 100%;
        margin: 10px 0;
    }
}

/* Estilos para pantallas de 575px y más pequeñas */
@media only screen and (max-width: 575px) {
    .tarjeta-proveedor {
        width: 100%;
        margin: 10px 0;
    }
}
  