.showProv{
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
}

.tarjeta-proveedor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #DAE2E4;
    transition: 0.3s;
    width: 300px;
    margin: 10px;
}

.tarjeta-proveedor:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tarjeta-proveedor h5 {
    text-align: center;
    margin-top: 20px;
}

.tarjeta-proveedor p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 20px;
}

.tarjeta-proveedor a {
    display: block;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.tarjeta-proveedor a:hover {
    background-color: #3e8e41;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.addProv {
    border: 2px solid #4723D9;
    background-color: #4723D9;
    border-radius: 0.5em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.addProv:hover {
    background-color: #AFA5D9;
    color: #4723D9;
}

.edit,
.delete {
  width: 50px;
  height: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #dddddd;
  border-radius: 7px;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 3.1rem;
  margin-right: 3.1rem;

}

.edit {
    background-image: url('../assets/edit.svg');
    background-color: #4CAF50;
    color: white;
}

.delete {
    background-image: url('../assets/trash.svg');
    background-color: brown;
}
  
@media screen and (max-width: 1500px) {
    .showProv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .showProv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .showProv {
        grid-template-columns: repeat(1, 1fr);
    }
}
 