.showProv{
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
}

.tarjeta-proveedor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #DAE2E4;
    transition: 0.3s;
    width: 300px;
    margin: 10px;
}

.tarjeta-proveedor:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tarjeta-proveedor h5 {
    text-align: center;
    margin-top: 20px;
}

.tarjeta-proveedor p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 20px;
}

.tarjeta-proveedor a {
    display: block;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.tarjeta-proveedor a:hover {
    background-color: #3e8e41;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

/* .addProv{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../assets/mondongo.jpg');
} */

.edit,
.delete {
  width: 50px;
  height: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #dddddd;
  border-radius: 7px;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 3.1rem;
  margin-right: 3.1rem;

}

.edit {
    background-image: url('../assets/edit.svg');
    background-color: #4CAF50;
    color: white;
}

.delete {
    background-image: url('../assets/trash.svg');
    background-color: brown;
}


    .addProv {
    border: none;
    position: relative;
    width: 200px;
    height: 73px;
    padding: 0;
    z-index: 2;
    -webkit-mask: url("https://tinyurl.com/2p8sa93e") no-repeat 50% 50%;
    mask: url("https://tinyurl.com/2p8sa93e") no-repeat 50% 50%;
    -webkit-mask-size: 100%;
    cursor: pointer;
    background-color: transparent;
    transform: translateY(8px)
   }
   .addProv:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0 0 0 white;
    transition: all 2s ease;
   }
   .addProv:hover:after {
    box-shadow: 0px -13px 56px 12px #ffffffa6;
   }
   .addProv span {
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-weight: 100;
    left: 50%;
    top: 39%;
    letter-spacing: 3px;
    text-align: center;
    transform: translate(-50%,-50%);
    color: black;
    transition: all 2s ease;
   }
   .addProv:hover span {
    color: white;
   }
   .addProv:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
   }
   .addProv:hover:before {
    width: 100%;
   }
  
@media screen and (max-width: 1500px) {
    .showProv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .showProv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .showProv {
        grid-template-columns: repeat(1, 1fr);
    }
}
 