:root{
    --Azul:#448bc5;
    --azul-claro:#b9e0e8;
    --blanco:rgb(244, 250, 255);
    --gris-claro:rgb(207, 207, 207);
    --gris-oscuro:rgb(242, 239, 255);
    --amarillo:#FFDE59;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f6fb;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor >h1{
    
    width:30% ;
    padding: 100px 0 20px 0;
    border-bottom: 1px inset rgb(59, 59, 59);
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 3EM;
    color: rgb(59, 59, 59);
    
    text-align: center;
    margin:auto;
}

.contenedorUser{
    width: 60%;
    margin: 50px auto;
    display:flex ;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
}
.user{
    margin:20px 20px 100px 20px;
    width: 200PX;
    height: 200PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.user img{
    width: 100%;
    border-radius: 100px;
    border: 5px solid var(--amarillo);
    cursor: pointer;
    
}
.user p{
    margin-top: 10px;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5EM;
    text-align: center;
    color: var(--blanco);
    font-weight: 700;

}
.user form{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.user input{
    border-radius: 10px;
    border: none;
    padding: 10px 5px;
    
}
.user input:focus{
    outline: none;
    border: none;
    outline:3px solid  var(--amarillo);
}
@media (max-width:900px) {
    .contenedor{
        margin: 0;
    }
}


@media (max-width:600px) {

    .contenedorUser{
        width: 80%;
        margin: 50px auto;

    }
    .user{
        width: 200px;
        height: 200px;
        margin: 10px 10px 85px 10px;
    }
    .contenedor >h1{
       font-size: 2em;
       width: 60%;
       padding: 50px 0 20px 0;
    }
}

@media (max-width:350px) {
    .contenedorUser{
        width: 70%;
        margin: auto;

    }
    .user{
        width: 170px;
        height: 170px;
    }
}


