*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedorUser{
    width: 40%;
    height: 400px;
    border: 1px solid #969696;
}
h1{
    text-align: center;
    width: 40%;
    padding: 10px 0 10px 0;
    background-color: #4723d9;
    margin-top: 30px;
    border-radius: 3px 0 px 3px;
}
p{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    background-color: #DCE2E2;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 0 20px 0;
}
p:hover{
    background-color: #87A3AA;
    color: aliceblue;
    cursor: pointer;
}
.contra{
    display: none;
}
img{
    width: 10%;
    padding: 10PX;
    
    background-color: #DCE2E2;
}