*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenedor >h1{
    padding-top:100px ;
    margin: auto;
    border-bottom: 1px solid rgb(59, 59, 59);
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 3EM;
    color: rgb(59, 59, 59);
    
    
}
.contenedorUser{
    width: 50%;
    margin: 100px auto;
    display:flex ;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
}
.user{
    margin:20px 20px 100px 20px;
    width: 200PX;
    height: 200PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.user img{
    width: 100%;
    border-radius: 100px;
    box-shadow: 5px 5px  10px  rgb(139, 139, 139);
    
}
.user p{
    margin-top: 10px;
    font-family: 'Noto Serif', serif;
    font-size: 1.2EM;
    text-align: center;
    color: rgb(59, 59, 59);
    font-weight: 700;

}
.user form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media (max-width:600px) {
    .contenedorUser{
        width: 70%;
        margin: auto;

    }
    .user{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:350px) {
    .contenedorUser{
        width: 70%;
        margin: auto;

    }
    .user{
        width: 170px;
        height: 170px;
    }
}


