table{
    margin: auto;
}

.filaVenta{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
select{
    min-width: 40px;
    width: 100%;
}

tr img{
    width: 100%;
    min-width: 100px;
}

.realizarventa form{
    width: 100%;
    display: grid;
    grid-template-areas:'realizarpedido none none none none devuelta total';
    grid-template-columns: repeat(7,1fr);
}
.filaResumen{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.ventanaVenta{
    transform: translateY(20000px);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1000;
    padding: 60px;
}


form{
    display: flex;
    align-items: stretch;
    column-gap: 10px;
}
#Escaner{
    width: 100%;
    
}
#Escaner video{
    width: 100%;
    
}
#venta{
    max-height: 700px;
    overflow-y: scroll;
}
.papelera{
    width: 100%;
    height: 100%;
    background-image: url('../assets/papelera.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    min-width: 15px;
    max-width: 30px;
}

.devuelta{
    grid-area: devuelta;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: brown;
    margin: 010px;
}

.papelera:hover{
    transform: scale(1.1);
}

form{
    display: flex;
    width: 50%;
}

.dinero{
    grid-area: dinero;
}

.containerPapelera{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* CSS */
.botonverde {
    width: 50px;
    height: 50px;
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
form >input{
    width: fit-content;
}

.botonverde:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.botonverde:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.botonverde:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#codigoBarra{
    padding: 20px;
    background-image: url('../assets/photo_camera_FILL1_wght400_GRAD0_opsz48.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
}

#Escaner{
    max-width: 300px;
}

.drawingBuffer{
    display: none;
}

.cambiarForma{
    margin: 50px 0;
}

.total{
    width: 100px;
    height: 50px;
    grid-area: total;
}

.venta{
    grid-area: realizarpedido;
    min-width: 160px;
}

td{
    display: flex;
    justify-content: left;
    align-items: start;
}
.ventanaVenta{
    position: absolute;
  left: -100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ventanaVenta.animado{
    animation: mover-div 0.3s forwards;
}
.ventaVenta.izquierda {
    animation: mover-izquierda 0.3s forwards;
  }

@keyframes mover-div {
    from {
        left: -100%;
    }
    to {
        left: 50%;
    }
  }

  @keyframes mover-izquierda {
    from {
      left: 50%;
    }
    to {
      left: -100%;
    }
  }

@media (max-width:975px) {
    table{
        font-size:0.75em;
        
    }
    .total{
        width: 100px;
        height: 50px;
    }
}
@media (max-width:650px) {
    .fotoProducto{
        display: none
    }
    body{
        font-size: 14px;
    }
    .cn{
        display: none;
    }
    .filaVenta{
        grid-template-columns: 0.3fr  1fr 1fr 1fr 1fr 1fr;
        
    }
    .cambiarForma{
        display: flex;
        justify-content: center;
        
    }
}







